body {
    padding-top: 0;
    padding-bottom: 0;
}

.login-container {
    width: 100%;
    height: 100vh;
    padding: 5%;
    background: url('../Images/login-bg.png');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
}
.loginPanel {
    width: 40%;
    padding:3%;
    padding-bottom:1%;
    height: auto;
    margin: auto;
    background:rgba(0,0,0,0.3);
}
.login-form .row.row-1 td {
    display: flex;
    justify-content: center;
    border: none;
    padding: 10% 0;
}
.profile-icon{
    width: 30%;
    margin:auto; 
    
}
.login-form .row td {
    width: 100%;
}

.login-form .row td .text-input{
    width: 100%;
    background:transparent;
    outline:none;
    border:none;
    color:#cfcfcf
}
    .login-form .row td .btn{
        width: 100%;
        background: transparent;
        outline: none;
        border: none;
        color: #cfcfcf
    }

.login-form .row td .text-input::placeholder {
    color: #cacaca;
    opacity: 0.6;
}
.login-form .row td .btn {
    margin: 2% 0;
    font-weight: 600;
    font-size: 1.3vw;
    color: #ffffff;
    outline: none;
}
.login-form .row td .login-label {
    color: #cacaca;
    font-size: 1vw;
}
.modal-dialog .modal-content {
    
}
.modal-body .btn.btnRegister {
    color: #FF6262;
    font-size: 1.3vw;
    width:100%;
    margin:10px auto;
    background:rgba(0,0,0,0.1);
}
.login-form .row td .btn.btnRegister {
    color: #FF6262;
    font-size: 1vw;
    outline:none;
    border:none;    
}
