body {
    
}
.main-wrapper{
    width:100%;
    height:100vh;
}
.reg-panel {
    width:70%;
    height:80vh;
    margin: auto;
}
.form-container {
    width: 100%;
    height:80vh;
    display: flex;
}
.colm-1 {
    width: 40%;
    background-color: #28527a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.colm-2 {
    width:50%;
    background-color: #8ac4d0;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding:5%;
 
}

.profile-icon{
    width:50%
}
.RegFormCon{
    font-size:16px;
    font-family:Arial;
    font-weight:bold;
    color:#1f1f1f
}
.RegFormCon tr{
    width: 100%;
    height: 40px;
}
.RegFormCon input{
 width:100%;
 height: 30px;
 border:none;
 outline:none;
 padding:0 10px;
 border-radius:5px;
}
.RegFormCon input.btn{
  width: 30%;
  height: 30px;
  border: none;
  background-color: #28527a;
  color: #fff;
}
